<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ren.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,884},{477,444}}</string>
                <key>offset</key>
                <string>{25,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{292,260},{477,444}}</string>
                <key>sourceSize</key>
                <string>{1011,1000}</string>
            </dict>
            <key>ren2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{485,442}}</string>
                <key>offset</key>
                <string>{17,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{280,263},{485,442}}</string>
                <key>sourceSize</key>
                <string>{1011,1000}</string>
            </dict>
            <key>ren3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1330},{473,434}}</string>
                <key>offset</key>
                <string>{9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{278,284},{473,434}}</string>
                <key>sourceSize</key>
                <string>{1011,1000}</string>
            </dict>
            <key>ren4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,446},{483,436}}</string>
                <key>offset</key>
                <string>{4,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{268,255},{483,436}}</string>
                <key>sourceSize</key>
                <string>{1011,1000}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>renwu.png</string>
            <key>size</key>
            <string>{512,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c5287a203e5e1990ed0c81381bff7655$</string>
            <key>textureFileName</key>
            <string>renwu.png</string>
        </dict>
    </dict>
</plist>
